<% include ./header %>

<header class="intro-header" style="background-image: url('/images/旗袍.jpg')">
       <div class="container">
           <div class="row">
               <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                   <div class="post-heading">
                       <h1>All  &nbsp; Members'  &nbsp;Schedules</h1>

                   </div>
               </div>
           </div>
       </div>
   </header>

   <!-- Post Content -->

       <div class="container">
           <div class="row">
               <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <%if(global.member){%>
                 <%if(schedulelist){%>
                   <%schedulelist.forEach(function(schedule){%>
                   <div class="post-preview">
                     <h3>
                       SID:<%= schedule.SID %>
                     </h3>
                     <table class="table table-bordered">
                        <tr>
                          <th></th>
                          <th>Mon.</th>
                          <th>Tue.</th>
                          <th>Wed.</th>
                          <th>Thu.</th>
                          <th>Fri</th>
                       </tr>
                       <tr>
                          <th>9:00~12:00</th>

                     <% if(schedule.Mon_9_12 ==1){%>
                       <th>✓</th>

                     <%} else{%>
                       <th></th>
                       <%}%>
                     <% if(schedule.Tue_9_12 ==1){%>
                       <th>✓</th>
                       <%} else{%>
                        <th></th>

                    <%}%>
                    <% if(schedule.Wed_9_12 ==1){%>
                      <th>✓</th>
                      <%} else{%>
                        <th></th>

                    <%}%>
                    <% if(schedule.Thu_9_12 ==1){%>
                      <th>✓</th>
                      <%} else{%>
                        <th></th>

                    <%}%>
                    <% if(schedule.Fri_9_12 ==1){%>
                      <th>✓</th>
                      <%} else{%>
                      <th></th>

                    <%}%>

                    </tr>
                    <tr>
                       <th>13:00~17:00</th>


                     <% if(schedule.Mon_13_17 ==1){%>
                       <th>✓</th>
                       <%} else{%>
                         <th></th>

                      <%}%>
                     <% if(schedule.Tue_13_17==1){%>
                       <th>✓</th>
                       <%} else{%>
                         <th></th>

                     <%}%>
                     <% if(schedule.Wed_13_17==1){%>
                       <th>✓</th>
                       <%} else{%>
                         <th></th>

                     <%}%>
                     <% if(schedule.Thu_13_17==1){%>
                       <th>✓</th>
                       <%} else{%>
                         <th></th>
                     <%}%>
                     <% if(schedule.Fri_13_17==1){%>
                       <th>✓</th>
                       <%} else{%>
                         <th></th>
                         <%}%>
                   </tr>
                   </table>
                   </div>
                   <hr>
             <%  }); %>
               <%}}%>
               </div>
           </div>
       </div>


   <hr>
<% include ./footer %>
